@keyframes rtl {
    from{transform: translateX(-500px);}
}
@keyframes ex {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  @keyframes bttA {
    from {
  transform: translateY(500px) ;
  }
  }
  @keyframes ttb {
    from {
  transform: translateX(-500px) ;
  }}
@keyframes ttbA {
    from{
      transform: translateY(-150px);
    }
  }
@keyframes btgA {
  from{
    transform : translateY(150px)
  }
}
