refer{color:
    #0E0E10 
   #10e3a4 
   #2575fc
    #c90411
     #F8F8FF
     #FFA500
      #f2aa00
      #fc6b03
      #6666ff
      #002fed
   } 
.container{
    position:fixed;
    top: 0;
    width: 100%;
    height: 9500px;
    background-color: #0E0E10;
    margin-top: 100px;
    margin-left: -8px;
    padding-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.adbanner{
    width: 100%;
    position: absolute;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.adlogo{
    width: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}
.adbanner h4{
    font-family: tele;
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
}
.adbanner p{
    font-family: typo;
    font-weight: lighter;
    margin-right: 15px;
    margin-left: 30px;
    text-align: center;
    margin-top: -35px;
}
.layad{
    position: absolute;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    height: 520px;
    border-radius: 20px;
    background-color :#F8F8FF;
    margin-top: -55px;
    box-shadow: 1px 1px 30px #0E0E10;
    transition: 0.5s linear;
    cursor: pointer;
}
.adstab{
    position: absolute;
    padding: 15px;
    font-style: italic;
    letter-spacing: 2px;
    font-family: age;
    background-color: #76b900;
    border-radius: 5px;
    right: 0;
    top: 0;
    margin-top: 50px;
    color: #F8F8FF;
}
.optnot{
    font-family: ldf;
    margin-top: -5px;
    background-color: rgba(0, 0, 0, 0.75);
    background-position: center;
    width: 85%;
    border-radius: 5px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    color: #F8F8FF;
    letter-spacing: 0.6px;
}
.cate h4{
    position: relative;
    top: 430px;
    font-family: tbg;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    color: #76b900;
    letter-spacing: 5px;
}
.cate table{
    position: absolute;
    top: 560px;
    color:#0E0E10;
    line-height: 55PX;
    left: 0;
    right: 0;
    margin: auto;
    width: 85%;
    font-family: AGE;
    border-spacing: 15PX;
}
.cate td{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    padding: 10px;
    background-color: #F8F8FF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s linear;
}
.cate td:hover{
    background-color: #0E0E10;
    color: #76b900;
    box-shadow: 1px 1px 15px #76b900;
}