refer{color:
    #0E0E10 
    #10e3a4 
    #2575fc
    #c90411
    #F8F8FF
    #FFA500
    #fc6b03
    #6666ff
    #76B900
    #002fed
    #ef0707
    #bd00ff
    #e3ff00
    }
.downloadamd{
    width: 95%;
    height: 850px;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    bottom: 10px;
    margin: auto;
    background-color: #F8F8FF;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #0E0E10;
}
.logoamd{
    width: 180px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 65px;
    right: 0;
    margin: auto;
}
.downloadamd h4{
    text-align: center;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    top: 120px;
    font-family: rad;
    font-size: x-large;
    font-weight: lighter;
    padding-left: 25px;
    padding-right: 25px;
}
.adr{
    color: #ef0707;
}
.downloadamd h6{
    position: absolute;
    font-family: age;
    font-size: larger;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 190px;
}
.head{
    position: absolute;
    background-color: #ef0707;
    width: 85%;
    height: 50px;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1px 1px 10px 10px;
}
.btom{
    position: absolute;
    background-color: #ef0707;
    width: 85%;
    height: 50px;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px 10px 1px 1px;
}
.may{
    position: absolute;
    background-color: #0E0E10;
    width: 85%;
    height: 60px;
    box-shadow: 1px 1px 15px #0E0E10;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 230px;
    right: 0;
    margin: auto;
    border-radius:10px;
}
.may td{
    color: #ef0707;
    font-family: rad;
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    font-size: x-large;
    margin-top: 25px;
    position: relative;
    top: 15px;
    transition: all 0.5s ;
    cursor: pointer;
}
.td::after{
    content: "";
    position: absolute;
    width: 5px;
    border-radius: 20px;
    background-color: #F8F8FF;
    height: 30px;
    right: 0;
    left: 0;
    margin: auto;
    top: 13px;
}
.vmay{
    position: absolute;
    color: #ef0707;
    top: 55px;
    border-radius: 10px;
    left: -55px;
    width: 340px;
    background-color: #F8F8FF;
    display: none;
}
. 
.may td:hover{
    color: #F8F8FF;
    .vmay{
        display: block;
    }
}
-/*.may table{
    display: flex;
    justify-content: center;
}
.downver{
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-left: 50px;
    background-color: #0E0E10;
    width: 250px;
    border-radius: 1px 1px 10px 10px;
}*/*